@import "tailwindcss";

/* ===============================
   DESIGN TOKENS
================================ */

body {
  font-family: var(--font-primary);
  color: var(--color-dark);
  background: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 500;
}
/* ===============================
   TAILWIND THEME MAPPING
================================ */
@theme {
  /* Colors  */
  --color-primary: #0c2b4e;
  --color-secondary: #615fff;
  --color-highlight: #db5f29;
  --color-light: #f8fafc;
  --color-muted: #dfdfdf;
  --color-dark: #0d0d0d;

  /* Fonts  */
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-luxury: var(--font-luxury);
}

@layer components {
  .btn-secondary {
    @apply bg-dark text-light px-8 py-2.5 rounded-md transition-all duration-500;
  }
  .btn-rounded {
    @apply bg-primary text-light px-8 py-2.5 rounded-full transition-all duration-500;
  }
  .btn-rounded-outline {
    @apply border border-primary text-light px-8 py-2.5 rounded-full transition-all duration-500;
  }
}

/* Button Animation  */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 50% 30%;
  filter: blur(6px);
  background-image: linear-gradient(#fff);
  animation: rotate 4s linear infinite;
}

.rdrDayDisabled .rdrDayNumber span {
  color: rgba(128, 128, 128, 0.452) !important;
}

.rdrDayDisabled {
  background-color: transparent !important;
}
